name: Build Documentation

on:
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for manual update"
        required: false
  release:
    types: [published]

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install dependencies
        run: npm ci

      - name: Build documentation
        run: npx algo-docs build

      - name: Publish Docs for Dev Portal
        uses: algorandfoundation/algokit-shared-config/.github/actions/devportal-publish-docs@main
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
